body {
  font-family: OutfitRegular;
  max-width: 100vw;
}

.wrapper {
  max-width: 75rem;
  margin: 0 auto;

  @media (max-width: 1220px) {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
}
